.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.dropdownButton {
  background-color: rgb(119, 119, 119);
  color: white;
  padding: 25px;
  font-size: 30px;
  border: 5px solid rgb(62, 62, 62);
  margin-left: 400px;
}

.colorSelector {
  display: flex;
  align-items: center;
}

.square {
  height: 250px;
  width: 250px;
  border: 10px solid rgb(247, 247, 247);
  background-color: #fbfbfb;
  margin-left: 400px;
}

.dropdownButton:hover {
  background-color: rgb(62, 62, 62);
}
